@using WAUserLogReg.ViewModel
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row">
            <div class="col-md-8 offset-2">
                <form method="post" asp-controller="Account" asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="RememberMe"><br /></label>
                        <input type="checkbox" asp-for="RememberMe" value="Remember me"> Remember me
                    </div>
                    <div class="form-group">
                        <input type="submit" asp-controller="Account" asp-action="Login" value="Submit"/>
                    </div>
                </form>
            </div>
        </div>
