@{
    ViewData["Title"] = "Home Page";
}

<script src="js/indexScripts.js"></script>
<link rel="stylesheet" href="css/Index.css"/>
<div class="text-center">
    <h1 class="display-4">Admin panel</h1>
    <br />
    <button class="image-button" id="ban">
            <img src="img/185088 - lock locker streamline.png" alt="ban_img"/>
            <b>Ban users</b>
        </button>
        <button class="image-button" id="unban">
            <img src="img/185089 - locker streamline unlock.png" alt="unban_img"/>
            <b>Unban users</b>
        </button>
        <button class="image-button" id="del">
            <img src="img/185090 - delete garbage streamline.png" alt="del_img"/>
            <b>Delete users</b>
        </button>
        <h6 id="response"></h6>
        <table class="table table-striped">
        </table>
</div>