@using System.Collections.Generic
@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <table class="table table-striped" align="center" border="1">
        <tr back>
            <th>User name</th>
            <th>Email</th>
            <th>Last login</th>
            <th>Registration time</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">There is no user (<span id="time">></span>)</td>
            </tr>
        }
        else{
            @foreach(var user in Model)
            {
                <tr>
                    <td>user.UserName</td>
                    <td>user.Email</td>
                    <td>user.LastLogin</td>
                    <td>user.DateRegistration</td>
                </tr>
            }
        }
    </table>
</div>

<script>
var datetime = new Date().getHours() + ":" + new Date().getMinutes() 
    + " " + new Date().getDate() + "." + (new Date().getMonth() +1) + "." + new Date().getFullYear();
document.getElementById("time").textContent = datetime;
</script>